################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Benevolat2/.vs/Benevolat2/FileContentIndex/9936eeaa-76c0-4c44-81b4-01c674d6c0cd.vsidx
/Benevolat2/.vs/Benevolat2/FileContentIndex/c3029e59-0838-4618-ade6-da665d384c2d.vsidx
/Benevolat2/.vs/Benevolat2/FileContentIndex/747ae7ac-a919-43d7-9279-975cd9e11ea9.vsidx
